<h1 class='boardsIndex'><%= board.escape('title') %></h1>

<div class="listsContainer">

</div>
<br><br>

<div class='returnIndex'>
  <div>Add a new list</div>
  <div>Add a new card</div>
  <div>Back to boards</div><br><br>

</div>
